#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*HEADER*/
header {
  text-align: center;
  background-color: #333;
  padding: 30px 0;
  height: 30%;
  width: 100%;
}
.heading {
  font-size: 3rem;
  color: #fff;
}

/*MAIN*/
main {
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: block;
  margin: 4.2rem auto 0;
  width: 45%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section p {
  font-size: 1.4rem;
  font-weight: 600;
}
.standard {
  background-color: #fbfbfc;
  border: 1px solid #ccc;
  color: #333;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease;
}
.standard:focus {
  box-shadow: 0 0 0 3px rgba(0, 85, 255, 0.8);
  outline: none;
}
.section div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  margin-top: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  color: #e9ecef;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  transition: all 0.3s ease;
  width: 100%;
}
.btn-standard {
  background-color: #333;
}
.btn-standard:hover {
  background-color: #212121;
}
.btn-primary {
  background-color: rgb(5, 187, 5);
}
.btn-primary:hover {
  background-color: rgb(3, 133, 3);
}
.btn-secondary {
  background-color: red;
}
.btn-secondary:hover {
  background-color: rgb(215, 2, 2);
}
label input[type="file"] {
  display: none;
}
label {
  cursor: pointer;
}
label span {
  color: #686868;
  font-family: inherit;
  font-size: 1rem;
}
img {
  object-fit: cover;
  width: 100%;
}
.cv-box {
  bottom: 0;
  position: absolute;
  right: 20%;
  top: 1%;
  width: 60%;
  min-height: 1000px;
  z-index: 200;
  background-color: #fff;
}
.cv-header {
  height: 10%;
  background-color: #44a857;
  padding: 20px;
  color: #fff;
}
.p-name {
  font-size: 35px;
  font-weight: 600;
}
.info-container {
  display: flex;
  height: 86%;
}
.info-box {
  width: 70%;
  padding: 30px;
  height: 95.4%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-mini-box {
  min-height: 90px;
}
.p-info-title {
  font-size: 20px;
  font-weight: 600;
  color: #44a857;
  padding-bottom: 2px;
  border-bottom: 1px #b1b1b1 solid;
  margin-bottom: 5px;
}

.personal-details-box {
  width: 30%;
  background-color: #ededed;
  height: 100%;
}
