#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*HEADER*/
header {
  text-align: center;
  background-color: #333;
  padding: 30px 0;
  height: 30%;
  width: 100%;
}
.heading {
  font-size: 3rem;
  color: #fff;
}

/*MAIN*/
main {
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: block;
  margin: 4.2rem auto 0;
  width: 45%;
  padding: 2rem 2rem;
}
